.login {
    background-color: white;
    border: gray solid 1px;
    float: left;
    font-size:small;
}

.no_dot {
    list-style-type: none;
}

a:link {
    color:black;
    text-decoration: none;
}

a:hover{
    color: blue;

}

.wrapper{
    display: flex;
    background-color: rgba(170, 255, 227, 0.851);
}
