/* 이곳은 css 문법만 적용 가능한 범위 */

* {
    font-weight: bold;
}

#id1{
    color: coral;
    background-color: cadetblue;

}

/* class 선택자 = '.' */
.class2, .class3 {
    color: azure;
    background-color: black;
}